<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="projectEdit.css" type="text/css" />
		<link rel="stylesheet" href="navigation.css" type="text/css" />
	</head>
	<body>
		<div class="tabs">
			<ul class="tab-links">
				<li class="active"> <a href="#discover">Discover</a></li>
				<li><a href="#create">Create</a></li>
			</ul>
		</div>
		<form class='form' action="createProject">
			<div class='left-side'>
				<img src="" alt="Project picture" height="200" width="200">
			</div>
			<div class='right-side'>
				Project Title <input type="text" name="title"></br>
				Planned Start Date <input type="text" name="date"></br>
				Fund Needed <input type="text" name="fund"></br>
			</div>
		</br>
		<div class='description'>
			<a> Description: </a> </br>
			<textarea rows='10' cols='80'>
			</textarea>
		</div>
		</br>
		<div class='btn'>
			<a class="create">create</a>
			<a class="cancel">cancel</a>
		</div>	</form>
		</div>
	</body>
</html>